<div class="first-container">
    <img src="../../assets/images/familija1.jpg" alt="">
    <p>It all started on a crisp morning in a small garage, surrounded by the scent of motor oil and the hum of engines. What began as a passion for classic cars soon turned into a mission to make quality vehicles accessible to everyone. With a lot of hard work, a keen eye for detail, and endless curiosity, we found our first car to sell and put it out there for someone to fall in love with. Since then, our journey has grown, and so has our collection. From the sleek lines of vintage classics to the innovation of modern vehicles, we now offer a variety for every taste and need. As a family-run business, we take pride in our close-knit approach, ensuring every car we sell is ready for a new home. <p>
    <img src="../../assets/images/kompanija.jpg" alt="">
</div>
<div class="second-container">
    <img src="" alt="">
    <p>

    </p>
</div>