<section>
    <div class="container">
        <form class="contactform">
            <h2>Book Your Test Drive</h2>
            <div class="formbox">
                <div class="inputbox">
                    <input type="text" placeholder=" " required>
                    <span>First Name</span>
                </div>
                <div class="inputbox">
                    <input type="text" placeholder=" " required>
                    <span>Last Name</span>
                </div>
                <div class="inputbox">
                    <input type="email" placeholder=" " required>
                    <span>Email Address</span>
                </div>
                <div class="inputbox">
                    <input type="text" placeholder=" " required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputbox">
                    <input type="text" placeholder=" " required>
                    <span>Car Model</span>
                </div>
                <div class="inputbox">
                    <input type="date" required>
                    <span>Preferred Date</span>
                </div>
                <div class="inputbox">
                    <input type="time" required>
                    <span>Preferred Time</span>
                </div>
                <div class="inputbox2">
                    <textarea placeholder=" " required></textarea>
                    <span>Write your additional notes here.</span>
                </div>
                <div class="inputbox2">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</section>
