<div class="pastry" id="pastry">
    <h3 class="title">Latest Models</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/kombe.jpg" alt="">
            <h3>Volkswagen T2c Kombi</h3>
            <div class="price">€ 22,000</div>
            <p class="btn" (click)="onTestDrive('Volkswagen T2c Kombi')">Test drive</p>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car12.jpg" alt="">
            <h3>MERCEDES CLA180d</h3>
            <div class="price">€ 28,500</div>
            <p class="btn" (click)="onTestDrive('MERCEDES CLA180d')">Test drive</p>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car11.jpg" alt="">
            <h3>Range Rover EVOQUE</h3>
            <div class="price">€ 18,999</div>
            <p class="btn" (click)="onTestDrive('Range Rover EVOQUE')">Test drive</p>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car14.jpg" alt="">
            <h3>PEUGEOT 3008</h3>
            <div class="price">€ 19,800</div>
            <p class="btn" (click)="onTestDrive('PEUGEOT 3008')">Test drive</p>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>


<div class="pastry" id="pastry">
    <h3 class="title">New Vehicles</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/car21.jpg" alt="">
            <h3>NISSAN QASHQAI</h3>
            <div class="price">€ 16,500</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car22.jpg" alt="">
            <h3>CITROEN C3 1.6Hdi</h3>
            <div class="price">€ 9,990</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car23.jpg" alt="">
            <h3>RENAULT TALISMAN 1.6</h3>
            <div class="price">€ 15,690</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car24.jpg" alt="">
            <h3>BMW X1 2.0D 2019</h3>
            <div class="price">€ 21,500</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>

<div class="pastry" id="pastry">
    <h3 class="title">Oldtimer Models</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/car31.jpg" alt="">
            <h3>1964 | Triumph Vitesse 1600</h3>
            <div class="price">Price on request</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car32.jpg" alt="">
            <h3>1968 | Rolls-Royce Silver Shadow I</h3>
            <div class="price">£15,950</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car33.jpg" alt="">
            <h3>1969 | MG MGC GT</h3>
            <div class="price">£27,950</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car34.jpg" alt="">
            <h3>1966 | Morris Minor 1000</h3>
            <div class="price">£9,950</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>

<div class="pastry" id="pastry">
    <h3 class="title">Affordable Vehicles</h3>
    <div class="wrapper">
        <div class="pastry-card">
            <img src="../../assets/images/car41.jpg" alt="">
            <h3>AUDI A3 1.9TDI</h3>
            <div class="price">€ 6,990</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart' id="heart"></i>
            <p id="likes"></p>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car42.jpg" alt="">
            <h3>OPEL ASTRA 1.7CDTI</h3>
            <div class="price">€ 5,990</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car43.jpg" alt="">
            <h3>OPEL ASTRA 1.7CDTI</h3>
            <div class="price">€ 6,200</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
        <div class="pastry-card">
            <img src="../../assets/images/car44.jpg" alt="">
            <h3>Seat Ibiza 1.4TDI</h3>
            <div class="price">€ 5,099</div>
            <a href="" class="btn">Test drive</a>
            <i class='bx bx-heart'></i>
        </div>
    </div>
</div>

<div class="comment-section">
    <div class="comments" id="comments">
      <!-- Dynamic comments will be inserted here -->
      <div *ngFor="let comment of comments">{{ comment }}</div>
    </div>
    <form class="form" id="comment-form" (ngSubmit)="submitComment()">
      <label for="comment">Leave a comment:</label>
      <textarea id="comment" [(ngModel)]="newComment" name="comment" required></textarea>
      <button type="submit">Submit</button>
    </form>
</div>
  
