<section class="additional-section">
    <div class="background-image">
        <img class="background-image" src="../../assets/images/napred2 copy.jpg" alt="">
        <div class="content-container">
            <div class="text">
                <h2>Drive into the future with <br>
                    affordable new cars</h2>
                <p>Get yours today!</p>
            </div>
            <div class="menu-box">
                <a routerLink="menu">Menu</a>
            </div>
        </div>
    </div>
</section>

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="column">
                <img src="../../assets/images/vtora.jpg" alt="category1">
                <div class="overlay">Latest Models</div>
            </div>
            <div class="column">
                <img src="../../assets/images/treta.jpg" alt="category2">
                <div class="overlay">New Vehicles</div>
            </div>
            <div class="column">
                <img src="../../assets/images/prvaa.jpg" alt="category3">
                <div class="overlay">Oldtimer Models</div>
            </div>
            <div class="column">
                <img src="../../assets/images/cetvrta.jpg" alt="category4">
                <div class="overlay">Affordable Vehicles</div>
            </div>
        </div>
        <h2 class="category-title">Our Categories</h2>
    </div>
</div>
<section class="gradient-section">
    <div class="text-box">
        <h2>Learn more about us!</h2>
        <p>It all started on a crisp morning in a small garage, 
            surrounded by the scent of motor oil and the hum of engines. What began as a passion
            for classic cars soon turned...</p>

        <div class="story-box">
            <a routerLink="about">Our Story</a>
        </div>
    </div>
</section>
<div class="comments">
    <div class="container1">
        <div class="row">
            <div class="column3">
                <p>"Affordable prices and trustworthy team. <br>
                    Got my dream car with zero hassle!" </p>
                <h3>A.H</h3>
            </div>
            <div class="column3">
                <p>"If you're looking for a reliable used car, this <br>
                    this is the place to go! The team here was honest <br>
                    and upfront about everything, and they really know <br>
                    their cars. My new ride runs great, <br>
                    and I got it at a fantastic price."
                </p>
                <h3>S.N</h3>
            </div>
            <div class="column3">
                <p>"Easiest car-buying experience! <br>
                    Great deal and friendly staff. <br>
                    Highly recommend!" <br>
                </p>
                <h3>B.M</h3>
            </div>
        </div>
    </div>
</div>